<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Advance JS
    </title>
    <script>
        // let user = "Raushan";
        // let marks = 350;
        // let hello = `Hello "${user}"
        // your 'marks'
        // ${marks}`
        // document.write(hello);
        // console.log(hello)


        let firstName = "Raushan";
        let lastName = "Kumar";
        function fullname(firstName, lastName){
            return `${firstName} ${lastName}`;
        }

        let hello = `Hello ${fullname(firstName, lastName)}`;

        document.write(hello);

    </script>
</head>
<body>
    
</body>
</html>